* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0d30;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  cursor: pointer;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
  padding: 0 12px;
}

.navbar {
  padding: 20px;
  background: #1c1c9f;
  color: #fff;
  box-shadow: 0px 5px 15px rgb(0, 0, 0);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__number,
  &__score {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
  }
}

.quiz {
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    display: flex;
    gap: 20px;
  }

  &__prev,
  &__next,
  &__restart {
    background: rgb(23, 100, 23);
    font-size: 25px;
    font-weight: 500;

    &:disabled {
      background: rgba(23, 100, 23, 0.5);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.card {
  margin-top: 30px;

  &__question {
    font-size: 25px;
    font-weight: 700;
    color: #fff;

    span {
      margin-left: 10px;
    }
  }

  &__answer {
    width: 100%;
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
    cursor: pointer;

    &.correct {
      background: green;
    }

    &.uncorrect {
      background: red;
    }
  }
}

.loader {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 8px solid;
    border-color: blue blue transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &::after,
    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border: 5px solid;
      border-color: transparent transparent #FF3D00 #FF3D00;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-sizing: border-box;
      animation: rotationBack 0.5s linear infinite;
      transform-origin: center center;
    }

    &::before {
      width: 72px;
      height: 72px;
      border-color: blue blue transparent transparent;
      animation: rotation 1.5s linear infinite;
    }
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}